body {
  background-color: #f0f0f0;
  font-family: 'Proza Libre', sans-serif;
}

.input-area {
  margin-bottom: 2rem;
}

img {
  width: 100%;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  padding: 0 0.75rem;
}

label {
  font-size: 1.25rem;
}

.row {
  margin-bottom: 1rem;
}

header {
  color: white;
  background-color: #562b81;
  padding: 1rem;
  font-size: 1rem;
}

header .container {
  display: flex;
  align-items: center;
}

header .container > h3 {
  margin-left: 20px;
}

h3 :hover {
  text-decoration: underline;
  cursor: pointer;
}

h2 {
  font-size: 2rem;
}

.title-and-edit {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-solid {
  cursor: pointer;
  color: #562b81;
}

.entries-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.new-entry {
  padding: 5px 10px;
}

input {
  width: 100%;
  height: 2.25rem;
  margin-top: 0.75rem;
  font-size: 1rem;
  padding-left: 10px;
}

input:focus {
  outline: none;
  border: 2px solid #562b81;
  border-radius: 2px;
}

.no-entries {
  text-align: center;
  font-size: 1.5rem;
}

textarea {
  width: 100%;
  height: 150px;
  margin-top: 0.75rem;
  font-size: 1rem;
  padding: 10px;
  font-family: sans-serif;
}

textarea:focus {
  outline: none;
  border: 2px solid #562b81;
  border-radius: 2px;
}

button {
  color: white;
  background-color: #562b81;
  padding: 10px;
  border-radius: 5px;
  font-family: 'Proza Libre', sans-serif;
}

li {
  list-style: none;
}

.journal-entry {
  display: flex;
  flex-wrap: wrap;
}

.column-half img {
  border-radius: 5px;
}
